.page {
    /* border: 2px solid var(--component-border); */
    background-color: var(--bg);

    min-width: 100%;
    min-height: 100%;

    padding: 2rem;
    margin: 0rem;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.component {
    border: 2px solid var(--component-border);
    background-color: var(--bg);
    margin-bottom: 0; /* input tag override */
    padding: 1.5rem;

    flex: 0 0 auto;

    border: 1px solid var(--btn-border);
    background-color: var(--btn-bg);
    transition: all 300ms ease-in-out;
    box-shadow: 6px 6px 12px var(--btn-shadow-dark),
               -6px -6px 12px var(--btn-shadow-light);

}
    /* .component:hover {
        border: 2px solid var(--hover-border);
        background-color: var(--hover-bg);
    } */

.subComponent {
    /* border: 2px solid var(--component-border); */
    /* background-color: var(--bg); */

    padding: 1rem;


    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
}
    .subComponent:hover {
        border: 2px solid var(--hover-border);
        background-color: var(--hover-bg);
    }