.label {
    margin-left: 0.2rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
    .formComponent {
        padding: 1rem;
        margin-bottom: 1rem;
        
        border: 2px solid var(--btn-border);
        background-color: var(--bg);
        color: var(--btn-text);

        border-radius: 8px;

        cursor: pointer;
        transition: all 0.2s ease;
        justify-content: center;
        align-items: center;
    }